<%- include('Layout/header') %>
<div class="search-results-container">

    <% if (vuelos && vuelos.length > 0) { %>
        <h1>Vuelos Disponibles</h1>
        <ul>
            <% vuelos.forEach(vuelo => { %>
                <li>
                    <p><strong>ID Vuelo:</strong> <%= vuelo.idvuelos %></p>
                    <p><strong>Origen:</strong> <%= vuelo.origen %></p>
                    <p><strong>Destino:</strong> <%= vuelo.destino %></p>
                    <p><strong>Fecha:</strong> <%= new Date(vuelo.fecha).toLocaleDateString('es-ES', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                    <p><strong>Hora:</strong> <%= vuelo.hora %></p>
                    <p><strong>Precio:</strong> $<%= vuelo.precio %></p>
                    <a href="/reservar-vuelo/<%= vuelo.idvuelos %>" class="btn-reserve-flight">Reservar</a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No se encontraron vuelos disponibles.</p>
    <% } %>
</div>
<%- include('Layout/footer') %>