<%- include('Layout/header') %>
<div class="search-results-container">
    <h2>Resultados de búsqueda</h2>
    <p>Origen: <%= origin %></p>
    <p>Destino: <%= destination %></p>
    <p>Fecha de entrada: <%= checkIn %></p>
    <p>Fecha de salida: <%= checkOut %></p>
    <!-- Aquí puedes agregar más lógica para mostrar los viajes disponibles -->
</div>
<%- include('Layout/footer') %>